@{
    ViewBag.Title = "South Florida Code Camp";
}


<div class="percent-40 cd-fixed-bg color-beach-j-bg " id="connect">
    <h1 class="color-beach-i toponly txt-shadow">Connect</h1>
    <p>Connect with professionals, students, and companies from the South Florida area! Use this oporotunity to network with as many people as you can who are interested in the same topics as you.</p>
</div>

<div class="percent-60 cd-fixed-bg cd-bg-2" id="connect">

</div>
<div class="cd-fixed-bg color-beach-d-bg percent-50" id="learn">
    <h1 class="txt-shadow toponly color-beach-c">Learn</h1>
    <p style="color:white">Code Camp is a FREE one day GEEK FEST held on Saturday February 7, 2015 This is the 11th year for South Florida Code Camp. The event will have speakers from the local community and beyond. Speakers will be presenting some of the most requested topics like Windows 8, Windows Phone 8, ASP.NET, Javascript, JQuery, Visual Studio 2013, MVC Framework, Sharepoint 2013, SQL Server 2014, Xamarin, cross platform development and Azure. Code Camp is community driven by a group of dedicated volunteers and speakers. Breakfast and lunch is included! </p>
</div>


@section scripts
{
    <script>
    </script>
}